.navbar-brand {
        font-family: "Lacquer", system-ui;
        font-weight: 400;
        font-style: normal;
}

.carruselPrincipal {
    width: 100%;
    height: 40vh;
    overflow: hidden;
    margin-bottom: 3vh;
}

.carousel-inner {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.col {
    margin-bottom: 2vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.card-body button {
    align-self: center;
    margin-top: auto;
    text-decoration: none;
    padding: 1vh;
    background-color: black;
    color: antiquewhite;
    border: none;
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.card-body button:hover {
    background-color: orangered;
    color: antiquewhite; 
}

.marcas {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: bold;
    font-weight: weight;
    font-style: bold;
}

.carrito {
    align-self: center;
    margin-top: auto;
    text-decoration: none;
    margin-left: 3%;
    border: none;
}

.footer {
    font-family: "Josefin Sans", serif;
    color: black;
    padding-top: 2%;
    text-align: center; 
}

.imagenfooter {
    max-width: 50%;
    max-height: 75%;
}